<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <link rel="stylesheet" href="./styles.css">
    <title>LightControl</title>
</head>
<body class="bg-slate-50">

    <div class="flex flex-col gap-16 h-[100vh] items-center justify-center">
        <p class="text-2xl text-black font-semibold">UI LightControl</p>
        <div class="flex items-center justify-center h-80 w-80">
            <img src="./bulbOff.png" alt="" class="w-80 z-10 absolute bulbOn">
            <img src="./bulbOn.png" alt="" class="w-80 absolute ">
        </div>
        
        <div class="bg-slate-100 p-3 flex items-center justify-center gap-4 rounded-lg">
            <box-icon name='brightness'></box-icon>
            <input type="range" id="myRange" min="0" max="100" value="50" class="z-20 bg-black cursor-pointer range">
        </div>
        
    </div>
    
    <script src="./index.js"></script>
</body>
</html>